@use '../../partials/variables' as *;

.nav{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,40%);
  width: 100%;
  height: 3rem;
  padding: 5spx 20px;
  display: flex;
  justify-content: space-between;
  background-color: $primary-purple;

  &__logo {
    color: $primary-white;
    font-family: 'Roboto';
    margin: 1rem 4rem;
  }
}

